# === OSM Query API (.env.example) ===
DATABASE_NAME=osmplanet
TABLE_VIEW=planet
DATABASE_USER=postgres
DATABASE_PASSWORD=changeme
DATABASE_HOST=host.docker.internal
DATABASE_PORT=5432
JWT_SECRET=changeme
PORT=5000
